*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li{
    list-style-type: none;
    padding-right: 5px;
}



main{
    margin: 0 10% 0 10%;
}
.flex{
    display: flex;
}

/* header */

section.header_booleando{
    background-color: #ff6900;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px 80px 20px 80px;
    margin-bottom: 50px;
}

section.header_booleando ul li{
    color: white;
}

section.header_booleando img{
    width: 100px;
}
section.header_booleando div{
    color: white;
}

/* main */

.parent_article,
.parent_article_due{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0px 1rem 0px 1rem;
}

section.parent_article article,
section.parent_article_due article{
    width: 280px;
    height: 410px;
    margin: .8rem .6rem 3.5rem .6rem;
    position: relative;
}

section.parent_article article div p,
section.parent_article_due article div p{
    position: absolute;
    top: 100%;
}


.flex_col{
    display: flex;
    flex-direction: column;
}

.bg_red{
    position: absolute;
    background-color: red;
    padding: 2px;
    top: 90%;
}
.bg_green{
    
}

/* background article main */

section.parent_article article:nth-child(1){
    background-image: url(../img/1.webp);
    /* background-size: 100%; */
    background-repeat: no-repeat;
    background-size: cover;
}

section.parent_article article:nth-child(2){
    background-image: url(../img/2.webp);
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

section.parent_article article:nth-child(3){
    background-image: url(../img/3.webp);
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

section.parent_article_due article:nth-child(1){
    background-image: url(../img/4.webp);
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

section.parent_article_due article:nth-child(2){
    background-image: url(../img/5.webp);
    background-size: 100%;
}

section.parent_article_due article:nth-child(3){
    background-image: url(../img/6.webp);
    background-size: 100%;
}



/* footer */

.footer_booleando{
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    color: white;
}

section.footer_booleando div ul{
    display: flex;
    font-size: .7rem;
    padding-top: 5px;
}


section.footer_booleando div:last-child{
    display: flex;
    flex-direction: column;
}

section.footer_booleando div:last-child span{
    padding-top: 5px;
}